<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.locationtech.udig.processingtoolbox"
            name="%Toolbox.category">
      </category>
      <view
            allowMultiple="false"
            category="org.locationtech.udig.processingtoolbox"
            class="org.locationtech.udig.processingtoolbox.ToolboxView"
            fastViewWidthRatio="0.30"
            icon="icons/req_plugins_obj.gif"
            id="org.locationtech.udig.processingtoolbox.ToolboxView"
            name="%Toolbox.view "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.locationtech.udig.ui.mapPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.locationtech.udig.processingtoolbox.viewtoolboxcontribution"
            targetID="org.locationtech.udig.processingtoolbox.ToolboxView">
      </viewContribution>
   </extension>

</plugin>
